@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@theme {
  /* Configure font families to use your Next.js font variables */
  --font-family-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: var(--font-geist-mono), ui-monospace, monospace;
}

@theme {
  /* Custom color palette */
  --color-background: #F9F6F2;
  /* Soft, warm off-white */
  --color-text-primary: #241D1D;
  /* Dark Mocha */
  --color-text-muted: #8c7a6b;
  /* Lighter, muted brown */
  --color-accent: #262626;
  /* Mocha Mousse accent */
  --color-accent-dark: #000000;
  /* Darker accent for hover */
}